[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = "or key == 'm_glass'"
position = "at"
payload = "or key == 'm_glass' or or key == 'm_cmdia_philosopher'"
match_indent = true
